.formulario {
    display: flex;
    flex-direction: column ;
    width: 45%;
    border-radius: 1vh;
    box-shadow: 1px 1px 4px rgb(218, 217, 217) ;
    margin-bottom: 10%;
    margin-top: 5%;
    justify-content: center;
    padding-bottom: 3%;
    padding-top: 2%;
}

main h1 {

    color: #ECEBE4;
    width: 40%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    border: 1px #ECEBE4 solid;
    border-radius: 10px;
    padding: 1%;
}

.div-formulario{
display: flex;
justify-content: center;
}

.input-registro {
    width:60%;
    border-radius: 5px;
    margin: 2vh;
    padding: 3vh;
    border-color: white;
    margin-left: 18%;
}
.boton {
    width: 35%;
    padding: 1vh;
    color: black;
    border: black solid 1%;
    border-radius: 5px;
    margin-top: 2vh;
}
body{
    background: radial-gradient(circle closest-side, rgb(59, 59, 59) 1%, black);
}
.botones{
    display: flex;
    justify-content: space-around;
}

.boton:hover{

    background-color: #667449;
    color: #ECEBE4 ;
}




