* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 50%;
}

.productos-carro {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
}

.productos-carro p{
    display: flex;
    justify-content: space-between;
}

.descripcion-carro p{
    display: flex;
    flex-wrap: wrap;
   align-items: flex-start;
    
   
}

section article {
    width: 25%;
}

.articulo {
    display: flex;
    flex-direction: column;
    border: solid 0.2vh black;
    justify-content: space-between;
    width: 20%;
    box-sizing: border-box;
    border-radius: 3vh;

}

.nombre-producto {
   text-align: center;
   background-color: gray;
   opacity: 0.8;
   color: black;
   font-weight: bold;
}
.precio {
    text-align: center;
    color: white;
    font-size: 3.5vh;
    background-color: gray;
    opacity: 0.7;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
.producto-imagen {
    
    text-align: center;
    width: 60%;
}