
body{
    background-color:black;
}


.fondo {
     width: 100%; 
}
.formulario {
    display: flex;
    flex-direction: column ;
    position:  absolute ;
    top: 40%;
    left: 37%;
}
.titulo {
    position: absolute;
    top: 15%;
    left: 28%;
    color: white;
    font-size: 15vh;
    
}
.formulario .input {
    width: 100%;
    border-radius: 5px;
    margin: 2vh;
    padding: 3vh;
    border-color: white;
} 
.boton {
    width: 60%;
    padding: 2vh;
    background-color: #ECEBE4;
    color: black;
    border: black solid 1vh;
    border-radius: 5px;
    position: relative;
    left: 50%;
    margin-top: 4vh;
}
body {
    background-color: black;
}

@media (max-width: 426px) {
    main {
        margin-bottom: 10vh;
    }
    .titulo {
        font-size: 8vh;
        top: 22%;
        left: 95px;
    }
    .fondo {
        width: 425px;
    }
    .formulario .input {
        padding: 0.5vh;
    }
    .formulario {
        width: 45%;
        top: 37%;
        left: 110px;
    }
    .boton {
        left: 33%;
        border: none;
    }

}
