* {
    box-sizing: content-box;
}
.contenedor-formulario {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    margin-left: 17%;
    margin-right: 17%;
    height: 70vh;
    margin-bottom: 80px;
}
.contenedor-datos {
    background-color: #55603d;
    display: flex;
    flex-flow: wrap column;
    width: 50%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: flex-start;
    padding-left: 30px;
}
.formulario-np{
    margin-top: 20px;
    margin-bottom: 25px;
}
.contenedor-imagen {
    background-color: #55603d;
    display: flex;
    flex-flow: wrap column;
    width: 40%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 400px;
}
.botones{ 
    background-color: #55603d;  
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    
}
.botones button {
    margin: 10px;
    border-radius: 10px;
    border: solid 2px white;
    background-color: #55603d;
    color: white;
    padding: 5px;

}
.imagen {
    border: black solid 1px;
    min-width: 120px;
    min-height: 120px;
    max-width: 125px;
    max-height: 125px;
    margin: 15px
}
.titulo-np {
    text-align: center;
    margin-top: 10px;

}
.contenedor-formulario form input{
    width: 80%;
    padding: 5px;
    margin: 5px;
}
.contenedor-formulario form label{
    font-size: 20px;
    margin: 10px;
}
.label-nombre {
    width: 75%; 
}

.label-categoria {
    display: flex;
    flex-direction: column;
}
.label-categoria select{
    width: 50%;
    margin: 10px;
}
.label-garantia {
    display: flex;
    flex-direction: column;
}
.label-precio {
    width: 75%;
    margin: 10px
}
.label-descripcion {
    display: flex;
    flex-direction: column;
}
.label-imagenes {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 15px;
}
.label-imagenes input {
    margin: 5px;
}
.label-imagenes label {
    font-size: 25px;
    text-decoration: underline;
}
.imagen-producto {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}
.contenedor-image {
    display: flex;
    flex-direction: column;
}
