.contenedor-formulario {
    background: radial-gradient(circle closest-side, rgb(59, 59, 59) 1%, #292E1E);
    border: 1px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
    border-radius: 4%;
    margin-bottom: 2%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulario-np{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}


.formulario-np div{
    
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px black solid;
}


div label{
    justify-content: center;
    color: #ECEBE4;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5%;
    
}

input{
    width: 20vw;
    text-align: center;
}

select{
    width: 20vw;
    text-align: center;
    
}
select option, ::placeholder,button,input, div label,select{
    font-size: 12px;
}


form .botones {

    display: flex;
    width: 70%;
    flex-direction: row;
}

form .botones :hover {

    background-color: black;
    color: white;
}

.titulo-np {

    text-align: center;
    color: #292E1E;
    
    font-size: 12px;
    border-bottom: 1px solid gray;
    width: 20%;
    margin: auto;
    margin-top: 2%;
}
.descripciones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
border-bottom: 0px;
}
.cabeza-inferior {
    display: none;
}
.cabeza-superior {
    margin-bottom: 25px;
}

@media (max-width: 426px) {
.cabeza-inferior{
    display: none;
}
.titulo-np {
    width: 78%;
    font-size: 16px;
    margin-top: 6%;
}
.contenedor-formulario {
    width: 95%;
    border-radius: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}
input {
    width: 100%;
}
select {
    width: 130px
}
form .botones {
    width: 100%;
}
button {
    width: 40%;
    padding: 3%;
}
}