* {
    margin: 0;
    padding-bottom: 3vh;
}

.header {
    background-color: #1D70A2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.frase {
    color: white;
    padding: 1vh;
}
.ayuda {
    text-decoration: none;
    color: white;
    margin-top: 2vh;
}


.formulario {
    display: flex;
    flex-direction: column ;
    position: absolute;
    top: 40%;
    left: 23%;
    width: 60%;
    padding-bottom: 2vh;
    border-radius: 1vh;
    box-shadow: 1px 1px 4px rgb(218, 217, 217) ;
}
.titulo {
    position: absolute;
    top: 10%;
    left: 26%;
    font-size: 20vh;
    z-index: 1;
}
.sombra {
    position: absolute;
    top: 9%;
    left: 25%;
    font-size: 22vh;
    color: rgb(152, 151, 151);
    z-index: 0;

}

.input {
    width: 80%;
    border-radius: 5px;
    margin: 2vh;
    padding: 3vh;
    border-color: white;
}
.boton {
    width: 20%;
    padding: 1vh;
    background-color: #414BB2;
    color: white;
    border: #414BB2 solid 1vh;
    border-radius: 5px;
    position: relative;
    left: 37%;
    margin-top: 2vh;
}

