* {
    margin: 0;
}
.hipervinculos-header {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    
}
a {
    text-decoration: none;
}
header div a {
    color: white;
    font-size: 2vh;
}
.frase-top{
    padding-left: 2vh;
    flex: 5;
    color: white;
    font-size: 2vh;
}


.Banner {   
    width: 100%;
}

img {
    width: 100%;
}


.productos {
    display: flex;
}


section article {
    width: 25%;
}

.pie {
    display: flex;
    justify-content: space-around;
}

.cabeza-inferior i {

    text-align: right;
}

/* cabeza superior */

.cabeza-superior {
    display: flex;
    background-color:#1D70A2;
    height: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.cabeza-inferior {
    display: flex;
    justify-content: space-between;
    background-color: #051042;
    padding: 1vh;
    align-items: center;
}
.barra-busqueda {
    width: 500px;
    padding: 0.7vh;
    border: solid white 1px;
    
}
.form-submit {
    background-color: white
}
.barra-navegacion {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style: none;
}
.carrito {
    
    font-size: 2.7vh;
    padding-right: 5px;
    padding-top: 5px;
    color: white;
    
}
.icono-search {
    background-color: white ;
    padding: 0.8vh;
}
.item-nav {
    width: 15%;
    font-size: 4vh;
    text-decoration: none;
    color: black;
}

.articulo {
    display: flex;
    flex-direction: column;
    border: solid 1vh black;
    justify-content: space-around;
    width: 75%;
}
.articulo-hijo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nombre-producto {
    align-self: flex-start;
}

.producto-imagen {
    text-align: 1;
}


