* {
    margin: 0;
}

.Banner {   
    width: 100%;
}

img {
    width: 100%;
}


.productos {
    display: flex;
}


section article {
    width: 25%;
}

.pie {
    display: flex;
    justify-content: space-around;
}

/* cabeza superior */

.cabeza-superior {
    display: flex;
    background-color:#1D70A2;
    height: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cabeza-inferior {
    display: flex;
    justify-content: space-evenly;
    background-color: #051042;
    padding: 1vh;
}
.barra-busqueda {
    width: 500px;
    padding: 0.7vh;
}
.form-submit {
    background-color: white
}
.barra-navegacion {
    display: flex;
    justify-content: space-around;
    
    
}
.icono-search {
    background-color: white ;
    padding: 0.8vh;
}
.item-nav {
    width: 15%;
    font-size: 4vh;
    text-decoration: none;
    color: black;
}


.frase-top{

    flex: 5;
}
