<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/ayuda.css">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>PhericsOne</title>
</head>

<body>
    <header>
        <div class="cabeza-superior">

            <p class="frase-top"> <a href="/"><i class="fa-brands fa-d-and-d"></i>PhericsOne</a></p>
            <div class="hipervinculos-header">
                <a class="vinculos" href="/ayuda"><i class="fa-solid fa-headset"
                        style="padding-right: 0.8vh;"></i>Ayuda</a>
                <a class="vinculos" href="/registro">Registrate</a>
                <a class="vinculos" href="/login"><i class="fa-solid fa-right-to-bracket"
                        style="padding-right: 0.8vh;"></i>Ingresa</a>
            </div>
        </div>

        <div class="cabeza-inferior">
            <h1 style="color:#292E1E">Equípate para ser el mejor de tu equipo!</h1>


            <a class="carrito" href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>

        </div>

    </header>


    <main>



        <div class="div-formulario">

            <form class="formulario" action="/registro" method="post">

                <input class="input-registro" type="text" name="nombre" placeholder="Nombre y apellido" required>
                <input class="input-registro" type="email" name="email" placeholder="Email@servidor.com" required>
                <textarea class="input-registro" rows="10" cols="45" name="comentarios" placeholder="Ingresa tu consulta" required></textarea>
               <div> <button class="boton" type="reset">Limpiar</button><button class="boton" type="submit">Enviar</button></div>
            </form>
        </div>
    </main>
    <footer>

        <section class="pie">
            <div>
                <p class="footer-superior">Sobre Nosotros</p>
                <p class="footer-inferior">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor
                    sit, amet consectetur adipisicing elit. </p>
            </div>
            <div>
                <p class="footer-superior">Nuestro WhatsApp</p>
                <p class="footer-inferior">+54 9 353 417 5992</p>
            </div>
            <div>
                <p class="footer-superior">Nuestro Email</p>
                <p class="footer-inferior">Contacto@phericsOne.com</p>
            </div>
        </section>

    </footer>
</body>

</html>