<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/ayuda.css">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>PhericsOne</title>
</head>

<body>
    <!-- partial del header-->
    <%- include("./partials/header-superior")  %> 


    <main>

        <h1>¡Dejanos tus datos y el motivo de la consulta! <br> ¡En breve te contactaremos! </h1>

        <div class="div-formulario">

            <form class="formulario" action="/registro" method="post">

                <input class="input-registro" type="text" name="nombre" placeholder="Nombre y apellido" required>
                <input class="input-registro" type="email" name="email" placeholder="Email@servidor.com" required>
                <textarea class="input-registro" rows="10" cols="45" name="comentarios" placeholder="Ingresa tu consulta" required></textarea>
               <div class="botones"><button class="boton" type="reset">Limpiar</button><button class="boton" type="submit">Enviar</button></div>
            </form>
        </div>
    </main>
    <!-- partials del footer-->
    <%- include("./partials/footer")  %> 
</body>

</html>