<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>PerichsOne</title>
</head>

<body>


    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <!-- partial del header-->
    <%- include("./partials/header-superior")  %> 


    <main>

        <h1 class="titulo-carro">Descripición de tu pedido:</h1>

        <section class="productos-carro">

            <article class="articulo-carro">

                    <h4>Producto</h4>
                    <h4>Detalle</h4>
                    <h4 class="precio-tit">Precio</h4>
                    <h4>Cantidad</h4> 

            </article>

            <article class="articulo-carro">
                <div class="contenedor-c">
                    <a href="#" class="img-carro">
                        <img class="producto-imagen" src="/img/productos/mouse.png">
                    </a>
                    <p class="nombre-producto-c">MOUSE GAMING CORSAIR</p>
                    <p class="precio-c">$17.999</p>
                    <div>
                        <select name="Cantidad" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>

                </div>

            </article>



            <article class="articulo-carro">
                <div class="contenedor-c">
                    <a href="#" class="img-carro">
                        <img class="producto-imagen" src="/img/productos/auris.png">
                    </a>

                    <p class="nombre-producto-c">AURICULARES LOGITECH</p>
                    <p class="precio-c">$14.540</p>
                    <div>
                        <select name="Cantidad" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                </div>
            </article>


            <article class="articulo-carro">
                <div class="contenedor-c">
                    <a href="#" class="img-carro">
                        <img class="producto-imagen" src="/img/productos/teclado.png">
                    </a>
                    <p class="nombre-producto-c">TECLADO MECANICO HYPERX</p>
                    <p class="precio-c">$21.000</p>
                    <div>
                        <select name="Cantidad" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                </div>

            </article>


            <article class="articulo-carro">
                <div class="contenedor-c">
                    <a  href="#" class="img-carro">
                        <img class="producto-imagen" src="/img/productos/mousepad.png">
                    </a>
                    <p class="nombre-producto-c">MOUSEPAD HYPERX L</p>
                    <p class="precio-c">$6.500</p>
                    <div >
                        <select name="Cantidad" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                </div>

            </article>
            <div class="BOTONES">
                <button type="submit">COMPRAR!</button>
                <button type="reset">BORRAR CARRITO</button>
            </div>

            </section>
            
            <section class="detalle-envio">
                   <p class="titulo-envio">Elegi cual es el destino</p> 
                    <form action="/carrito" method="post">
                   <div class="contenedor-input">
                        <label class="label" for="provincia">Provincia</label>
                        <input class="input" type="text" id="provincia" name="provincia" required>
                    </div>
                    <div class="contenedor-input">
                        <label class="label" for="localidad">Localidad</label>
                        <input class="input" type="text" id="localidad" name="localidad" required>
                    </div>
                    <div class="contenedor-input">
                        <label class="label" for="direccion">Dirección</label>
                        <input class="input" type="text" id="direccion" name="direccion" required>
                    </div>
                    <div class="contenedor-input">
                        <label class="label" for="codigopostal">Codigo postal</label>
                        <input class="input" type="text" id="codigopostal" name="codigopostal" required>
                    </div>
                    <div class="contenedor-input">
                        <p class="label">Indicaciones adicionales:</p>
                        <textarea name="adicional"  cols="30" rows="10" style="width: 578px; height: 127px;"></textarea>
                    </div>
                    <button class="boton-envio" type="submit">Aceptar</button>
                </form>
            </section>


        <section class="marcas">
            <img src="/img/marcas.png" alt="">

        </section>

    </main>

    <!-- partials del footer-->
    <%- include("./partials/footer")  %> 


</body>

</html>