<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle-compra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PerichsOne</title>
</head>

<body>

    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <header>
        <div class="cabeza-superior">

            <p class="frase-top"> <i class="fa-brands fa-d-and-d"></i>PhericsOne</p>
            <div class="hipervinculos-header">
                <a class="vinculos" href="#"><i class="fa-solid fa-map-location-dot "
                        style="padding-right: 0.8vh;"></i>Seguí tu compra</a>
                <a class="vinculos" href="#"><i class="fa-solid fa-headset" style="padding-right: 0.8vh;"></i>Ayuda</a>
                <a class="vinculos" href="/registro">Registrate</a>
                <a class="vinculos" href="/login"><i class="fa-solid fa-right-to-bracket"
                        style="padding-right: 0.8vh;"></i>Ingresa</a>
            </div>
        </div>

        <div class="cabeza-inferior">
            <h1 style="color:#292E1E">Equípate para ser el mejor de tu equipo!</h1>
            <div class="form-submit" action="#" method="GET">
                <input class="input barra-busqueda" type="search"
                    placeholder="Eso que tanto deseas, buscalo acá"></input>
                <i class="fa fa-search icono-search"></i>
            </div>

            <a class="carrito" href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>

        </div>

    </header>
    
    <main>
        <a class="volver-inicio" href="/"><i class="fa-solid fa-arrow-left-long"></i> Volver al inicio</a>
        <section class="contenedor-superior">
            <section class="seccion-img">
                <img class="img-principal" src="/img/auris.png" alt="">

                <div class="contenedor-img-1">
                    <div class="contenedor-hijo-img"><img class="img-secundaria" src="/img/auris.png" alt=""></div>
                    <div class="contenedor-hijo-img"><img class="img-secundaria" src="/img/auris-1.png" alt=""></div>
                    
                </div>

            </section>

            <section class="detalles-producto">
                <div class="precio-producto"> 
                    <p>$14.540</p>
                </div>
                
                <div class="nombre-producto-img">
                    <p>AURICULARES LOGITECH G433</p>
                </div>
                <div class="datos-compra">
                    <input class="cantidad" type="number" value="1" name="cantidad-producto" maxlength="1">
                    <button class="boton-comprar" type="submit">Comprar</button>
                </div>
            </section>
        </section>
        <section>
            <div class="contenedor-descripcion">
                <p class="titulo-descripcion">Descrición:</p>
                <p>Óyelo todo, juega en todas partes. Los usuarios de juegos en PC quieren una experiencia de audio inmersiva.
                     Y con razón, ya que con cada nuevo título mejora el sonido. G433 es una nueva especie de auriculares,
                      con transductores Pro-G™ y sonido envolvente posicional DTS Headphone:X® para gaming inmersivo.
                       Los G433 pegan fuerte con un diseño ligero, cómodo y duradero.
                </p>
                <p class="titulo-descripcion">Auriculares:</p>
                
                <p class="parrafo-descripcion">Tipo de parlante: Driver de neodimio, 40 mm con Sonido posicional 7.1</p>
                <p class="parrafo-descripcion">Sensibilidad: 107 dB a 1 KHz SPL 30 mW/1 cm</p>
                <p class="parrafo-descripcion">Frecuencia: 20 Hz - 20 kHz</p>
                <p class="parrafo-descripcion">Impedancia: 32 ohmios</p>
                <p class="parrafo-descripcion">Longitud y tipo de cable:  2 mts. ; con control para subir, bajar volumen y silenciar micrófono.</p>
                <p class="parrafo-descripcion">Conector: 3.5mm (1 o 2 jacks por extensíon Y incluida) o USB por DAC de audio incluido.</p>

                <p class="titulo-descripcion">Microfono:</p>
                <p class="parrafo-descripcion">Tipo: Micrófono de condensador</p>
                <p class="parrafo-descripcion">Direccionalidad: Unidireccional con cancelación de ruido.</p>
                <p class="parrafo-descripcion">Frecuencia: 100 Hz - 10 kHz</p>
            </div>
        </section>

        <div class="otro-producto">
            Otros productos
        </div>

        <section class="productos">

            <article class="articulo">

                <a class="contenedor-img" href="#">
                    <img class="producto-imagen" src="/img/mouse.png">
                </a>
                <div>
                    <p class="nombre-producto">MOUSE GAMING CORSAIR</p>
                    <p class="precio">$17.999</p>
                </div>
            </article>


            <article class="articulo">

                <a class="contenedor-img" href="#">
                    <img class="producto-imagen" src="/img/auris.png">
                </a>
                <div>
                    <p class="nombre-producto">AURICULARES LOGITECH</p>
                    <p class="precio">$14.540</p>
                </div>
            </article>

            <article class="articulo">
                <a class="contenedor-img" href="#">
                    <img class="producto-imagen" src="/img/teclado.png">
                </a>
                <div>
                    <p class="nombre-producto">TECLADO MECANICO HYPERX</p>
                    <p class="precio">$21.000</p>
                </div>
            </article>



            <article class="articulo">
                <a class="contenedor-img" class="articulo-hijo" href="#">
                    <img class="producto-imagen" src="/img/mousepad.png">
                </a>
                <div>
                    <p class="nombre-producto">MOUSEPAD HYPERX L</p>
                    <p class="precio">$6.500</p>
                </div>
            </article>

        </section>
    
    </main>
    
    
    
    
    
    <footer>

        <section class="pie">
            <div>
                <p class="footer-superior">Sobre Nosotros</p>
                <p class="footer-inferior">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor
                    sit, amet consectetur adipisicing elit. </p>
            </div>
            <div>
                <p class="footer-superior">Nuestro WhatsApp</p>
                <p class="footer-inferior">+54 9 353 417 5992</p>
            </div>
            <div>
                <p class="footer-superior">Nuestro Email</p>
                <p class="footer-inferior">Contacto@phericsOne.com</p>
            </div>
        </section>

    </footer>


</body>

</html>