<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>PerichsOne</title>
</head>
<body>

<!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <header>
        <div class="cabeza-superior"> 
            
            <p class="frase-top">Equípate para ser el mejor de tu equipo!</p>
            <a href="#">Seguí tu compra</a>
            <a href="#">Ayuda</a>

        </div>

        <div class="cabeza-inferior">
            <h1>PhericsOne</h1>
            <div class="form-submit" action="#" method="GET">
                <input class="input" placeholder="Buscar productos, marcas y más"></input>
                <i class="fa fa-search"></i>
            </div>

            <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>

        </div>

    </header>



<main>

<!-- El main arranca con un nav, donde van todos los perifericos . -->
    <nav>
        <ul>
            <li><a href="#">Mouse</a></li>
            <li><a href="#">Teclados</a></li>
            <li><a href="#">Mousepads</a></li>
            <li><a href="#">Auriculares</a></li>
            <li><a href="#">Joystick</a></li>
        </ul>
    </nav>

    <img class="Banner" src="/img/banner.jpg">

    <section class="productos">

        <article> 

            <div><a href="#">
                <p>MOUSE GAMING CORSAIR</p>
                <img src="/img/mouse.png" >
                <p>$17.999</p>
            </a></div>

        </article>


        <article>

            <div><a href="#">
                <p>AURICULARES LOGITECH</p>
                <img src="/img/auris.png" >
                <p>$14.540</p>
            </a></div>

        </article>

        <article>
            <div><a href="#">
                <p>TECLADO MECANICO HYPERX</p>
                <img src="/img/teclado.png" >
                <p>$21.000</p>
            </a></div>
        </article>



        <article>
            <div><a href="#">
                <p>MOUSEPAD HYPERX L</p>
                <img src="/img/mousepad.png" >
                <p>$6.500</p>
            </a></div>
        </article>

    </section>


    <section class="marcas">
        <img src="/img/marcas.png" alt="">
    </section>


</main>

<footer>

    <section class="pie">
        <div>
            <p>Sobre Nosotros</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        </div>
        <div>
            <p>Nuestro WhatsApp</p>
            <p>+54 9 353 417 5992</p>
        </div>
        <div>
            <p>Nuestro Email</p>
            <p>Contacto@phericsOne.com</p>
        </div>
    </section>

</footer>
    

</body>
</html>