<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PerichsOne</title>
</head>

<body>

    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <header>
        <div class="cabeza-superior">
                
            <p class="frase-top"><a href="/"> <i class="fa-brands fa-d-and-d"></i>PhericsOne</a></p>
            <div class="hipervinculos-header">
                
                <a class="vinculos" href="/ayuda"><i class="fa-solid fa-headset" style="padding-right: 0.8vh;"></i>Ayuda</a>
                <a class="vinculos" href="/registro">Registrate</a>
                <a class="vinculos" href="/login"><i class="fa-solid fa-right-to-bracket"
                        style="padding-right: 0.8vh;"></i>Ingresa</a>
            </div>
        </div>

        <div class="cabeza-inferior">
            <h1 class="frase-inferior">Equípate para ser el mejor de tu equipo!</h1>
            <div class="form-submit" action="#" method="GET">
                <input class="input barra-busqueda" type="search"
                    placeholder="Eso que tanto deseas, buscalo acá"></input>
                <i class="fa fa-search icono-search"></i>
            </div>

            <a class="carrito" href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>

        </div>

    </header>



    <main>

        <!-- El main arranca con un nav, donde van todos los perifericos . -->
        <nav>
            <ul class="barra-navegacion">
                <li><a class="item-nav" href="#">Mouse</a></li>
                <li><a class="item-nav" href="#">Teclados</a></li>
                <li><a class="item-nav" href="#">Mousepads</a></li>
                <li><a class="item-nav" href="#">Auriculares</a></li>
                <li><a class="item-nav" href="#">Joystick</a></li>
            </ul>
        </nav>

        <img class="Banner" src="/img/banner.jpg">

        <section class="productos">

            <% productos.slice(-4).forEach(producto => { %>
                <article class="articulo">
                    <a class="contenedor-img" href="detalle-producto/<%= producto.id %>">
                        <img class="producto-imagen" src="/img/<%= producto.imagen1 %>">
                    </a>
                    <div>
                        <p class="nombre-producto"><%= producto.titulo %></p>
                        <p class="precio">$<%= producto.precio %></p>
                    </div>
                </article>
            <% }) %>
          
        </section>


        <section class="marcas">
            <img src="/img/marcas.png" alt="">
        </section>


    </main>

    <footer>

        <section class="pie">
            <div>
                <p class="footer-superior">Sobre Nosotros</p>
                <p class="footer-inferior">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor
                    sit, amet consectetur adipisicing elit. </p>
            </div>
            <div>
                <p class="footer-superior">Nuestro WhatsApp</p>
                <p class="footer-inferior">+54 9 353 417 5992</p>
            </div>
            <div>
                <p class="footer-superior">Nuestro Email</p>
                <p class="footer-inferior">Contacto@phericsOne.com</p>
            </div>
        </section>

    </footer>


</body>

</html>