<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
            rel="stylesheet">
        <title>PerichsOne</title>
    </head>

<body>
    <!-- partial del header-->
    <%- include("./partials/header-superior") %>

        <main>
            

            <div class="div-titulo"><h1 class="titulo">PhericsOne</h1></div>
        <div class="contenedor-formulario">
            <form class="formulario" action="/users/login" method="post">
                <% if (locals.error) { %>
                    <div class="error-text">
                        <%= error %> 
                    </div>
                <% } %>
                <div class="contenedor-input"><input class="input" type="text" name="email"  required>
                <label>Email</label></div>
                <div class="contenedor-input"><input class="input" type="password" name="password"  required>
                <label>Contraseña</label></div>
                 <div class="contenedor-recordar">  
                        <input class="checkbox" type="checkbox" name="recordar_usuario">Recordar este usuario
                    </div class="contenedor-boton"> 
                        <button class="boton" type="submit">Ingresar</button>
            </form>
        </div>
        </main>
        <!-- partials del footer-->
        <%- include("./partials/footer") %>
        
</body>

</html>