<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/new-editProduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PhericsOne</title>
</head>

<%- include ("./partials/header-superior.ejs") %>

    <body>
        <h1 class="titulo-np">Agreguemos nuevos productos!</h1>
        <div class="contenedor-formulario">
            <form action="/product/newProduct" method="POST" class="formulario-np" enctype="multipart/form-data">
                <div><label for="">Ingrese el nombre del nuevo producto: </label>
                    <input type="text" name="titulo" placeholder="Por ejemplo, auriculares Logitech" ></div>
                <div><label for="categoria">Ingrese la categoría del nuevo producto: </label>
                    <select name="categoria" id="categoria" >Auriculares
                        <option value=1>Auriculares</option>
                        <option value=2>Mouse</option>
                        <option value=3>Teclados</option>
                        <option value=4>Joysticks</option>
                        <option value=5>Mousepads</option>
                    </select>
                </div>
                <div>
                    <label for="">Ingrese imágenes del nuevo producto: </label>
                        <input type="file" name="imagen1">
                        <input type="file" name="imagen2">
                        <input type="file" name="imagen3">
                </div>
        <div><label for="precio">Ingrese el precio del nuevo producto: </label>
            <input type="text" id="precio"name="precio"></div>
        <div><label for="garantia">Garantía: </label>
            <select name="garantia" id="garantia">
                <option value="6">6 meses</option>
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
            </select>
        </div>
        <div>
            <div><label for="">Descripción 1: </label><textarea name="descripcion1" cols="30" rows="5"></textarea></div>
            <div><label for="">Descripción 2: </label><textarea name="descripcion2" cols="30" rows="5"></textarea></div>
            <div><label for="">Descripción 3: </label><textarea name="descripcion3" cols="30" rows="5"></textarea></div>
        </div>
        <div class="botones">
            <button type="submit">Crear</button>
            <button type="reset">Borrar</button>
        </div>
        </form>
        </div>

    </body>




    <%- include ("./partials/footer.ejs") %>

</html>