<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registro.css">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>PhericsOne</title>
</head>

<body>
    <!-- partial del header-->
    <%- include("./partials/header-superior")  %> 


    <main>



        <div class="div-formulario">

            <form class="formulario" action="/users/registro" method="POST" enctype="multipart/form-data">

                <input class="input-registro" type="text" name="firstname" placeholder="Nombre" required>
                <input class="input-registro" type="text" name="lastname" placeholder="Apellido" required>
                <input class="input-registro" type="email" name="email" placeholder="Email@servidor.com" required>
                <input class="input-registro" type="text" name="telefono" placeholder="Teléfono" required>
                <input class="input-registro" type="text" name="username" placeholder="Nombre de usuario" required>
                <input class="input-registro" type="password" name="password" placeholder="Contraseña" required>
                <input class="input-registro" type="password" name="re-password" placeholder="Reingrese su contraseña" required>
                <div class="foto-perfil"><label for="imagenPerfil">Seleccione su foto de perfil: </label><input type="file" name = "imagenPerfil"> </div>
                <button class="boton" type="submit">Registrar</button>
            </form>
        </div>
    </main>
    <!-- partials del footer-->
    <%- include("./partials/footer")  %> 
</body>

</html>