<footer>

    <section class="pie">
        <div>
            <p class="footer-superior">Sobre Nosotros</p>
            <p class="footer-inferior">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. </p>
        </div>
        <div>
            <p class="footer-superior">Nuestro WhatsApp</p>
            <p class="footer-inferior">+54 9 353 417 5992</p>
        </div>
        <div>
            <p class="footer-superior">Nuestro Email</p>
            <p class="footer-inferior">Contacto@phericsOne.com</p>
        </div>
    </section>

</footer>