<footer>

    <section class="pie">
        <div>
            <p class="footer-superior">Sobre Nosotros</p>
            <p class="footer-inferior">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. </p>
        </div>
        <div>
            <p class="footer-superior">Nuestro WhatsApp</p>
            <p class="footer-inferior">+54 9 353 417 5992</p>
        </div>
        <div>
            <p class="footer-superior">Nuestro Email</p>
            <p class="footer-inferior">Contacto@phericsOne.com</p>
        </div>
        <div class="redes-sociales">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/ignaperez/Grupo_7_ecommerce_tecno"><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
    </section>

</footer>

<script src="/js/carrito.js"></script>