<header>
    <div class="cabeza-superior">
            
        <p class="frase-top"><a href="/"> <i class="fa-brands fa-d-and-d"></i>PhericsOne</a></p>
        <div class="hipervinculos-header">
            
            <a class="vinculos" href="/ayuda"><i class="fa-solid fa-headset" style="padding-right: 0.8vh;"></i>Ayuda</a>
            <a class="vinculos" href="/registro">Registrate</a>
            <a class="vinculos" href="/login"><i class="fa-solid fa-right-to-bracket"
                    style="padding-right: 0.8vh;"></i>Ingresa</a>
        </div>
    </div>

    <div class="cabeza-inferior">
        <h1 class="frase-inferior">Equípate para ser el mejor de tu equipo!</h1>
        <div class="form-submit" action="#" method="GET">
            <input class="input barra-busqueda" type="search"
                placeholder="Eso que tanto deseas, buscalo acá"></input>
            <i class="fa fa-search icono-search"></i>
        </div>

        <a class="carrito" href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>

    </div>

</header>