<header>
    <div class="cabeza-superior">
            
        <div class="hipervinculos-header">
        
            <p class="frase-top"><a href="/"> <i class="fa-brands fa-d-and-d"></i>PhericsOne</a></p>
        
            <div class="contenedor-nav-superior">  
            <a class="vinculos" href="/ayuda"><i class="fa-solid fa-headset" style="padding-right: 0.8vh;"></i>Ayuda</a>
            
             <% if (locals.isLogged) { %>
                <div class="contenedor-perfil-nav">
                   <img class="imagen-perfil-nav" src="/img/users/<%= locals.user.image %> " alt=""> 
                    <p class="nombre-usuario-nav"><%= locals.user.username %> </p>
                    <i class="fa-sharp fa-solid fa-caret-down boton-dropdown"></i>
                    <div class="contenedor-dropdown">
                    <ul class="dropdown-lista">
                        <li class="item-lista"><a href="/users/detalle-usuario/<%= user.id %>">Perfil</a></li>
                        <li class="item-lista"><a href="/logout">Salir</a></li>
                        <% if (locals.user.categoria_id == 1) { %>
                            <li class="item-lista"><a href="/users/listar-usuarios">Dashboard</a></li>
                         
                        <% } %>
                    </ul>
                </div>
                </div>

             <% } else { %>
                <a class="vinculos" href="/users/registro">Registrate</a>
                <a class="vinculos" href="/users/login"><i class="fa-solid fa-right-to-bracket"
                    style="padding-right: 0.8vh;"></i>Ingresa</a>
                    <% } %>
            </div>
        </div>
    </div>

    <div class="cabeza-inferior">
        <h1 class="frase-inferior">Equípate para ser el mejor de tu equipo!</h1>
        <form class="barra-search-caja" action="/search" method="get" enctype="form">
            <input type="text" name="keywords" class="barra-navegacion" placeholder="Busca tu producto">
            <button type="submit" class="item-nav"><i class="boton-busqueda fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="carrito-micuenta">
            
            
            <a class="carrito" href="/product/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </div>
        

    </div>
    <script src="/js/navBar.js"></script>
</header>