<header>
    <div class="cabeza-superior">
            
        <p class="frase-top"><a href="/"> <i class="fa-brands fa-d-and-d"></i>PhericsOne</a></p>
        <div class="hipervinculos-header">
            
            <a class="vinculos" href="/ayuda"><i class="fa-solid fa-headset" style="padding-right: 0.8vh;"></i>Ayuda</a>
            
             <% if (locals.isLogged) { %>
              
                <div class="contenedor-perfil-nav">
                    <img class="imagen-perfil-nav" src="/img/users/<%= locals.user.image %> " alt="">
                    <p class="nombre-usuario-nav"><%= locals.user.username %> - <a href="/logout">Salir</a></p>

                </div>

             <% } else { %>
                <a class="vinculos" href="/users/registro">Registrate</a>
                <a class="vinculos" href="/users/login"><i class="fa-solid fa-right-to-bracket"
                    style="padding-right: 0.8vh;"></i>Ingresa</a>
                    <% } %>
        </div>
    </div>

    <div class="cabeza-inferior">
        <h1 class="frase-inferior">Equípate para ser el mejor de tu equipo!</h1>
        <div class="form-submit" action="/" method="GET">
            <input class="input barra-busqueda" type="search"
                placeholder="Eso que tanto deseas, buscalo acá"></input>
            <i class="fa fa-search icono-search"></i>
        </div>
        <div class="carrito-micuenta">
            
            <h1><a href="/users/profile">Mi cuenta</a></h1>
            <a class="carrito" href="/product/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </div>
        

    </div>

</header>