<header>
    <div class="cabeza-superior">
            
        <div class="hipervinculos-header">
        
            <p class="frase-top"><a href="/"> <i class="fa-brands fa-d-and-d"></i>PhericsOne</a></p>
        
            <div class="contenedor-nav-superior">  
            <a class="vinculos" href="/ayuda"><i class="fa-solid fa-headset" style="padding-right: 0.8vh;"></i>Ayuda</a>
            
             <% if (locals.isLogged) { %>
                <div class="contenedor-perfil-nav">
                   <img class="imagen-perfil-nav" src="/img/users/<%= locals.user.image %> " alt=""> 
                    <p class="nombre-usuario-nav"><%= locals.user.username %> </p>
                </div></div><a href="/logout">Salir</a>

             <% } else { %>
                <a class="vinculos" href="/users/registro">Registrate</a>
                <a class="vinculos" href="/users/login"><i class="fa-solid fa-right-to-bracket"
                    style="padding-right: 0.8vh;"></i>Ingresa</a>
                    <% } %>
            </div>
        </div>
    </div>

    <div class="cabeza-inferior">
        <h1 style="color:#292E1E">Equípate para ser el mejor de tu equipo!</h1>

        <a class="carrito" href="/product/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>

    </div>

</header>